<app-header></app-header>
<div class="col text-center" *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="row">
    <div class="col-8 offset-2" *ngIf="orders.length > 0; else noOrdersFound">
        <h2>Zamówienia</h2>
        <div *ngFor="let order of orders">
            <div class="row inprogress-order" *ngIf="order.state !== 'wysłane'">
                <div class="col-8 frame">
                    <h3 class="restaurant-name">{{order.restaurant.name}}</h3>
                    <ul class="list-group mb-2 order-dishes" *ngFor="let orderDish of order.dishes">
                        <li class="list-group-item">
                            <span>{{ orderDish.dish.name }}</span>
                            <strong> x {{ orderDish.quantity }}</strong>
                        </li>
                    </ul>
                    <h6>Złożone: <span class="order-date">{{ this.order.date }}</span></h6>
                </div>
                <div class="col-4 text-center frame">
                    <h3>Status zamówienia:</h3>
                    <h4 class="inprogress-order-state"
                        [ngStyle]="{'color': order.state === 'złożone' ? 'lightcoral': 'lightblue'}">{{order.state}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2" *ngIf="orders.length > 0; else noOrdersFound">
        <h2>Zrealizowane zamówienia</h2>
        <div *ngFor="let order of orders">
            <div class="row ready-order" *ngIf="order.state === 'wysłane'">
                <div class="col-8 frame">
                    <h3>{{order.restaurant.name}}</h3>
                    <ul class="list-group mb-2" *ngFor="let orderDish of order.dishes">
                        <li class="list-group-item">
                            {{ orderDish.dish.name }} <strong>x {{ orderDish.quantity }}</strong>
                        </li>
                    </ul>
                    <h6>Złożone: {{ this.order.date }}</h6>
                </div>
                <div class="col-4 text-center frame">
                    <h3>Status zamówienia:</h3>
                    <h4 class="finished">{{order.state}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noOrdersFound>
    <div id="no-orders-found" class="text-center" *ngIf="orders.length == 0 && !loading">
        <h1>Nie masz jeszcze złożonych żadnych zamówień!</h1>
    </div>
</ng-template>